* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.main-section {
  position: relative;
  display: flex;
  background: #fff;
  height: 100vh;
  flex-direction: column;
}

.wrapper {
  display: flex;
}

h3 {
  text-align: center;
}

.main-section__header {
  display: flex;
  border: 1px solid red;
  min-height: 50px;
}

.wrapper__users {
  flex-basis: 200px;
  border: 1px solid orange;
  overflow-y: scroll;
}

.wrapper__chat {
  flex-basis: 90%;
  overflow-y: scroll;
  border: 1px solid purple;
}

.main-section__footer {
  min-height: 100px;
  border: 1px solid green;
}
